// COLORS
$color-primary: #378078;
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);

$color-secondary: #34b75c;
$color-secondary-light: #3edd6e;

$color-tertiary: #ffd700;

$color-grey-light-1: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #464646;

$color-off-white: #eee;
$color-white: #fff;
$color-black: #222;

// FONT
$default-font-size: 1.6rem;
$default-font-family: Lato, sans-serif;

//MISC.

$default-border-radius: 10px;
